@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mozilla+Headline:wdth,wght@125,200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";


:root{
    --black: #000000ff;
    --oxford-blue: #14213dff;
    --orange-web: #fca311ff;
    --platinum: #e5e5e5ff;
    --white: #ffffffff;
}

*{
    margin: 0;
    padding: 0;
}

@theme {
  --color-black: #000000;
  --color-oxford_blue: #14213d;
  --color-orange_web: #fca311;
  --color-platinum: #e5e5e5;
  --color-white: #ffffff;

  --font-oswald: "Oswald", sans-serif;
  --font-lambu: "Mozilla Headline", sans-serif;
  --font-lato: "Lato", sans-serif;
}

body{
    width: 100vw;
    overflow-x: hidden;
    @apply bg-oxford_blue;
}